.jumbotron

  %h2
    Get In Contact

  = form_tag send_email_path do |f|
    = label_tag :first_name
    = text_field_tag :first_name

    = label_tag :last_name
    = text_field_tag :last_name

    = label_tag :subject
    = text_field_tag :subject

    = label_tag :email
    = email_field_tag :email

    = label_tag :message
    = text_area_tag :message

    = button_tag 'Send', type: 'submit'
