.jumbotron
  .col-md-12
    .row.portfolio-row
      .row
        .col-md-4
          .row
            %h2 UTEP SingleSignOn for Ruby
          .row
            = link_to 'https://github.com/awernick/utep_sso' do
              = image_tag 'utep-sso.png', class: 'center-block img-thumbnail portfolio-img'
        .col-md-4
          .row
            %h2 FifteenPuzzle
          .row
            = link_to 'https://github.com/awernick/FifteenPuzzle-android' do
              = image_tag '15PZL.png', class: 'center-block img-thumbnail portfolio-img'
        .col-md-4
          .row
            %h2 UTEP Pros
          .row
            = link_to 'https://github.com/awernick/utep_pros' do
              = image_tag 'utep-pros.png', class: 'center-block img-thumbnail portfolio-img'
      .row.portfolio-row
        .row
          .col-md-4
            .row
              %h2 Sandstorm
            .row
              = link_to 'https://github.com/awernick/sandstorm' do
                = image_tag 'sandstorm.png', class: 'center-block img-thumbnail portfolio-img'
          .col-md-4
            .row
              %h2 Tetris - MSP430
            .row= image_tag 'tetris.jpg', class: 'center-block img-thumbnail portfolio-img'
          .col-md-4
            .row
              %h2 Rubento
            .row
              = link_to 'https://github.com/awernick/rubento-box' do
                = image_tag 'rubento-box.png', class: 'center-block img-thumbnail portfolio-img last'
