.footer
  .container
    .address
    .social-media-icons.pull-right
      .rounded-social-media-btn
        = link_to '', 'https://github.com/awernick', class: 'fa fa-github ico-fix'
      .rounded-social-media-btn
        = link_to '', 'https://www.facebook.com/Wernick.A', class: 'fa fa-facebook ico-fix'
      .rounded-social-media-btn
        = link_to '', 'https://twitter.com/fuudge_supreme', class: 'fa fa-twitter ico-fix'
      .rounded-social-media-btn
        = link_to '', 'http://instagram.com/fuudge_supreme', class: 'fa fa-instagram ico-fix'
      .rounded-social-media-btn
        = link_to '', '#', class: 'fa fa-linkedin ico-fix'
